@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Crear Nuevo Producto</h1>
<div class = "container">
    <div class = "row">
        <div class="col-md-6">
            <label class="col-form-label">Categorìa</label>
            <input class="form-control" type="text"/>
         </div>
    </div>
    <div class="row">
     <div class="col-md-6">
            <label class="col-form-label">Nombre</label>
            <input class="form-control" type="text" name = "Nombre"/>
        </div>
    </div>
    <div class = "row">
         <div class="col-md-6">
            <label class="col-form-label">Precio</label>
            <input class ="form-control" type="text" name = "Precio"/>
        </div>

    </div>
    <div class="row">
            <div class="col-md-6">
            <label class="col-form-label">Descripciòn</label>
            <input class="form-control" type="text" name = "Descripcion"/>
        </div>
    </div>
    <div class = "row p-3">
    <a id = "btnGuardar" class="btn btn-success" style ="display: flex; justify-content: flex-end">Guardar</a>
    </div>
</div>
<div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Categoría</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Descripción</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    <script src="~/js/Producto.js"></script>
}