@model WEB_Core_Conv2.Models.Producto
@{ 
    ViewData["Title"] = "Productos";
}
<h1>Crear Nuevo Producto</h1>
<div class = "container">
    <div class = "row">
        <div class="col-md-6">
                <select class="col-md-6" name="categorias" id="categorias">
                    <option value="0">Seleccionar</option>
                </select>
          
            </div>
    </div>
    <div class="row">
     <div class="col-md-6">
            <label class="col-form-label">Nombre</label>
            <input class="form-control nombre" type="text" name = "nombre"/>
        </div>
    </div>
    <div class = "row">
         <div class="col-md-6">
            <label class="col-form-label">Precio</label>
            <input class ="form-control precio" type="text" name = "precio"/>
        </div>

    </div>
    <div class="row">
            <div class="col-md-6">
            <label class="col-form-label">Descripciòn</label>
            <input class="form-control descripcion" type="text" name = "descripcion"/>
        </div>
    </div>
    <div class="row p-3">
        <a id="btnGuardar" href="javascript:void(0);" class="btn btn-success">Guardar</a>
    </div>
</div>

@section Scripts{
    <script src="~/js/Producto.js"></script>
}